[program:opensips]
command = /usr/local/sbin/opensips -F -P /var/run/opensips/opensips.pid -m 256 -M 16 -u opensips -g opensips
autostart=true
autorestart=true
stdout_logfile=/var/log/%(program_name)s.log
stderr_logfile=/var/log/%(program_name)s.log
redirect_stderr=true
exitcodes=0
