# {{ ansible_managed }}
# OpenSIPS startup options
#

RUN_OPENSIPS=yes
USER={{ opensips_user }}
GROUP={{ opensips_group }}
S_MEMORY={{ opensips_shared_mem }}
P_MEMORY={{ opensips_pkg_mem }}
DUMP_CORE=no